// 配置scss全局变量//

// 左侧菜单的宽度//
$base-menu-width: 260px;
// 左侧菜单的背景色//
$base-menu-background: #001529;
// 顶部导航高度//
$base-top-height: 50px;
// 左侧菜单的logo高度//
$base-menu-logo-height: 50px;
// 左侧菜单的logo图片的宽度//
$base-menu-logo-pic-width: 30px;
// 左侧菜单的logo图片的高度//
$base-menu-logo-pic-height: 30px;
// 左侧菜单的logo title的文字大小//
$base-menu-logo-title-size: 20px;
// 左侧菜单折叠后的宽度//
$base-menu-min-width: 50px;